<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Music</title>
    </head>
<body>
    <ul>
        {{#each songs as |music|}}
        <li>
            {{music.title}}
        </li>
            {{/each}}
    </ul>
</body>
</html>

